CustomJSControl/CustomJSControl.Module.Web/bin/
CustomJSControl/CustomJSControl.Module.Web/obj/
CustomJSControl/CustomJSControl.Module/bin/
CustomJSControl/CustomJSControl.Module/obj/
CustomJSControl/CustomJSControl.Web/bin/
CustomJSControl/CustomJSControl.Web/obj/
CustomJSControl/packages/
CustomJSControl/.cr/
